@import 'tailwindcss';
@theme {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/Fonts/Inter_28pt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets//Fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/Fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #18181b;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.8s ease-out forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* Optional: Apply animations to classes if needed */
.animate-slide-up {
  animation: var(--animate-slide-up);
}

.animate-slide-down {
  animation: var(--animate-slide-down);
}
